<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!arts || arts.length <= 0" resetLinkText="مجددا جستجو کنید..."></app-not-found>
<ul>
    <li *ngFor="let art of arts">
        <a routerLink="/art/{{art.id}}">
            <img src="{{art.imageUrl}}" alt="">            
        </a>       
        <div class="content">
            <div class="name">{{art.name}}</div>
            <div class="favorite {{art.favorite? '': 'not'}}">❤</div>
            <div class="price">{{art.price | currency}}</div>
        </div> 
    </li>
</ul>